<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>City</th>
        </tr>
        <tr>
            <td class="name"></td>
            <td class="dob"></td>
            <td class="city"></td>
        </tr>
    </thead>
    <tbody>
        <tr><td></td><td></td><td></td></tr>
    </tbody>
</table>