<tr class="filter-row hide"></tr>
<tr class="filter-submit-row hide">
    <td class="last">
        <button class="btn filter-reset">Reset</button>
        <button class="btn btn-primary filter-submit">Filter</button>
    </td>
</tr>